name: Auto Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 185.209.20.80
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /home/admin/web/staycasino7.de/public_html/seo-checker/Lime-Frog/
            git pull origin main
            source .venv/bin/activate
            pip install -r requirements.txt
            sudo systemctl restart seo-checker
